<div
  class="w-full py-3 px-3">
  <a
    href="{{ product.url }}">
    <div
      class="bg-dark w-full h-fit rounded-2xl group">
      <div
        class="bg-white border border-dark rounded-2xl overflow-hidden p-2  cursor-pointer relative
        {% if product.compare_at_price > product.price %}
          translate-x-[-6px] translate-y-[-6px]
        {% else %}
          hoverTranslate transitionAll
        {% endif %}">
        {% if product.featured_image %}
          {% if product.compare_at_price > product.price %}
            <div
              class="w-36 h-36 overflow-hidden absolute top-[-10px] right-[-10px]">
              <div
                class="z-50 absolute transform rotate-45 left-[-25px] top-[30px] w-[225px] py-2 bg-danger shadow text-white text-shadow uppercase text-center border-dotted border-white outline-[5px] border-yellow-300">
                Promo
              </div>
            </div>
          {% endif %}

          <div
            class="h-72 w-full overflow-hidden rounded-xl border border-dark">
            <img
              class="w-full h-72 object-cover  transition duration-150 group-hover:scale-105 transform ease-in"
              src="{{ product.featured_image | img_url: 'original' }}"
              alt="{{ product.featured_image.alt }}">
          </div>

        {% else %}
          {{ 'product-1' | placeholder_svg_tag: "w-full h-72 rounded-2xl border border-dark object-cover bg-silver" }}
        {% endif %}
        <div
          class="px-2 pb-2 pt-1">
          {% if section.settings.display_vendor %}
            <p
              class="text-sm text-metal">{{ product.vendor }}</p>
          {% endif %}

          <p
            class="text-dark uppercase font-medium text-md md:text-lg">{{ product.title }}</p>



          <div
            class="product-price">
            {% if product.compare_at_price > product.price %}
              <span
                class="line-through text-danger">{{ product.compare_at_price | money_with_currency }}</span>
              <span
                class="text-metal text-lg md:text-xl font-bold">{{ product.price | money_with_currency }}</span>
            {% else %}
              <p
                class="text-metal text-lg md:text-xl font-bold">{{ product.price | money_with_currency }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>