<div
  class="flex flex-col items-center justify-center my-8 ">
  <div>
    <h1
      class="text-2xl md:text-5xl font-bold">{{ section.settings.title }}</h1>
  </div>
  <div
    class="max-w-6xl mx-auto md:mt-24">
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-3">
      {% for collection in collections %}
        {% if collection.all_products_count > 0 %}
          <div
            class="w-full py-6 px-3">
            <div
              class="bg-dark rounded-2xl group">
              <div
                class="border bg-light overflow-hidden rounded-2xl border-dark hoverTranslate transitionAll">
                <a
                  href="{{ collection.url }}">
                  <div
                    class="h-72 overflow-hidden border-b border-dark">
                    {% if collection.featured_image != blank %}
                      {% assign collection_image = collection.featured_image %}
                    {% else %}
                      {% assign collection_image = collection.products.first.image %}
                    {% endif %}

                    <img
                      height="288"
                      width="512"
                      class="h-full w-full object-cover transition duration-300 ease-in-out hover:scale-105 "
                      src="{{ collection_image | img_url: 'large' }}"
                      alt="{{ collection.title | escape }}">
                  </div>
                  <div
                    class="p-4 bg-light">
                    <h1
                      class="text-xl text-center font-bold text-dark">{{ collection.title }}</h1>
                  </div>
                </a>


              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section List Collections",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Our collections",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Collection List"
      }
    ]
  }
{% endschema %}